  body {
    margin: 0;
    padding: 0;
    background-color: gray;
  }
  header {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 17px;
    border-bottom: 1px solid white;
  }
  h2 {
    margin: 0;
    padding: 7px;
  }
  form {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5px;
  }
  h3 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
  .btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4px;
  }
  .bnt {
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
  }
  table, td, th{
    border: 1px solid black;
  }
  table {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*border-collapse: collapse;*/
    border: none;
    width: 350px;
  }
/*tr:nth-child(even){background-color: black}*/
  th {
    width: 200px;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
  }
  td {
    padding: 10px;
    background-color: lightgray;
    word-wrap: break-word;
  }
  .go {
    overflow-y: hidden;
    margin-bottom: 20px;
  }